appearance:
  name: 'Cours Dvorhack'
  description: 'Cours Dvorhack'

settings:
  challenge_visibility: private
  account_visibility: public
  score_visibility: admins
  registration_visibility: public

admin:
  name: '{{ ctfd_username }}'
  email: '{{ ctfd_username }}@prout.fr'
  password: '{{ ctfd_password }}'

accounts:
  team_creation: true

mode: teams